<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peanuts">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Peanuts">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/searchable" />

        <activity
            android:name=".GroupAddFood"
            android:exported="false"
            android:parentActivityName=".GroupActivity"/>
        <activity
            android:name=".GroupActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewGroup"
            android:exported="false"
            android:parentActivityName=".GroupActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".FoodDetail"
            android:exported="false"
            android:label="Food Item"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditFoods"
            android:exported="false"
            android:label="Edit Foods"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditRestrictions"
            android:exported="false"
            android:label="Edit Restrictions"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewAccount"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Profile" />
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.customTheme"/>
    </application>

</manifest>